.venv
__pycache__/
*.pyc

.env

# Vector store
vector_store/
vector_store/docs.index
vector_store/metadata.pkl

# Dataset
dataset/
rag/
rag/datasetinrag
rag/datasetinrag.zip
rag/cleaned_vulnerability_dataset.csv

# Logs & DB
*.log
*.sqlite3
*.db

# Scancode
Testing_files_for_scancode/
scancode-toolkit/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/