pathspec>=0.11,<1
structlog>=23.1,<24

# npm 
networkx>=3,<4
packaging>=23
semver>=2,<4

# Pypi , maven 
requirements-parser>=0.5
toml>=0.10
lxml>=4.9

python-magic>=0.4.27
python-magic-bin>=0.4.14; sys_platform == 'win32'
ast-grep-py>=0.13

requests>=2.31
pyyaml>=6.0   # already installed, but ensure listed

cvss>=2.0

tenacity>=8.0